.app.dark {
  --bg-color: #0b0b52;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #04af04;
  --secondaty-color: #04ff04;
  --inverted-primary-color: #042179;
  --inverted-secondaty-color: #0449e0;
}