:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #0b0b52;
  
  --primary-color: #0234ca;
  --secondaty-color: #2160e9;
  --inverted-primary-color: #04af04;
  --inverted-secondaty-color: #04ff04;
}